@use '../base/mixins' as m;
@use '../base/variables' as v;

.dark-mode{
    background-color: darken(v.$grisOscuro, 5);
    p{
        color: #fff;
    }
    a, h1,h2,h3,h4{
        color: v.$gris;
    }

    .anuncio, .resumen-propiedad{
        background-color: v.$grisOscuro;
        border: 1px solid v.$gris;

        .precio {
            color: v.$verde;
        }
        .icono{
            filter: invert(100);
        }
    }

    .texto-nosotros blockquote {
        color: #fff;
    }

    .formulario{
        label, legend, p{
            color: v.$gris;
        }
        input:not([type="submit"]),textarea,select{
            background-color: v.$grisOscuro;
            color: #fff;
            border: 1px solid v.$grisOscuro;
        }
    }
}